%% This file is part of Chatterbox released
%% under the MIT License.

{erl_opts, [
    warnings_as_errors,
    debug_info
]}.

{deps, [
    {hpack, {pkg, hpack_erl}}
]}.

{cover_enabled, true}.

{ct_opts, [{verbose, true}]}.
{dialyzer, [unknown]}.

{profiles, [
    {test, [
        {erl_opts, [
            {i, ["include"]},
            nowarn_export_all
        ]}
    ]}
]}.
